@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

.Header {
  background: white;
  color: black;
  display: grid;
  grid-template-columns: 0px 0.8fr min-content 0px;
  /* grid-template-rows: 100%; */
  align-items: center;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 70px;
}

.HeaderBoard {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.HeaderEnd {
  color: black;
  text-decoration: none;
  align-items: flex-end;
  padding-top: 5px;
  margin: 10px;
}

.HeaderEnd a {
  color: black;
  text-decoration: none;
  align-items: center;
}

.Button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: grey;
  border-radius: 4px;
  font-size: 10px;
}

.DotOptions {
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 4px;
  align-self: center;
}
