@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  /* overflow-x: hidden; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

.MainViewport {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content {
  /* width: 100%; */
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

.MainSidebar {
  z-index: 1000;
  /* left: 250px; */
  /* width: 100%; */
  height: 100%;
  background: #37474f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
  text-align: center;
  display: grid;
  /* grid-template-columns: 100%; */
  grid-template-rows: 50px 1fr min-content 13px;
}

.MainSidebar .nav-top a {
  background: none;
  color: #fff;
  /* display: block; */
  text-decoration: none;
  font-size: 8px;
}

.MainSidebar .nav-bottom a {
  background: none;
  color: #fff;
  /* display: block; */
  text-decoration: none;
  font-size: 8px;
}

.MainSidebar .nav a {
  background: none;
  color: #fff;
  /* display: block; */
  text-decoration: none;
  font-size: 8px;
}

.MainSidebar .nav a:hover {
  background: #758f9e;
  color: #eceff1;
}

.MainSidebar .nav {
  text-align: center;
  line-height: 40px;
  /* display: flex; */
  /* justify-self: stretch; */
}

.MainSidebar .nav-top {
  text-align: center;
  line-height: 40px;
  /* display: flex; */
  /* justify-self: flex-start; */
}

.MainSidebar .nav-bottom {
  text-align: center;
  line-height: 40px;
  /* display: flex; */
  /* justify-self: flex-end; */
}

.MainSidebar li {
  display: block;
}
