.Dashboard {
  display: flex !important;
  padding-top: 1rem !important;
  padding-bottom: 0.5rem !important;
  margin-bottom: 1rem !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-bottom: 1px solid #dee2e6 !important;
  box-sizing: border-box;
}

.ButtonToolbar {
  margin-bottom: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.ButtonGroup {
  margin-right: 0.5rem !important;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  box-sizing: border-box;
}

.ExportButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  position: relative;
  flex: 1 1 auto;
  cursor: pointer;
}
